<body class="background">
    <div class="container1">
     <div class="container2">
         <div class="container1">
             <img class="img1" src="../assets/images/1.png">
             <div class="container2">
                
                 <div class="container1">
                     <p class="efontStyle edu h">E</p>
                     <p class="fontStyle edu h">du</p>
                 </div>
               
                 <p class="fontStyle learn">Learn</p>
             </div>
           
         </div>
 
         <div class="container2">
            <input type="text" class="form-control input" placeholder="user name">
            <input type="text" class="form-control input" placeholder="Gmail">
            <input type="text" class="form-control input" placeholder="password">
            <a class="signin btn btn-dark btn-lg" routerLink="/login">sign up</a>
         </div>
 
     </div>
     <img class="img2" src="../assets/images/2.png">
 </div>
 </body>