<body class="homebackground">
    <div class="container1 ">
      <div class="container2 ">
        <img class="img" src="../assets/images/bb.png" />
        <div class="cardbackground">
          <div class="container1">
            <img class="icon head" src="../assets/images/icon1.jpeg" />
            <p class="font head h">Dashboard</p>
          </div>
  
          <div class="container1 content">
            <img class="icon" src="../assets/images/calendar.jpeg" />
            <p class="font">Calender</p>
          </div>
  
          <div class="container1 content">
            <img class="icon" src="../assets/images/course.jpeg" />
            <p class="font">Courses</p>
          </div>
  
          <div class="container1">
            <img
              class="icon content"
              src="../assets/images/coursecreation.jpeg"
            />
            <p class="font content">Course Creation</p>
          </div>
  
          <div class="container1 content">
            <img class="icon" src="../assets/images/attendance.jpeg" />
            <p class="font">Attendance</p>
          </div>
  
          <div class="container1 content">
            <img class="icon" src="../assets/images/assignment.jpeg" />
            <p class="font">Assignments</p>
          </div>
  
          <div class="container1 content">
            <img class="icon" src="../assets/images/exam.jpeg" />
            <a href="/exam creation" class="font">ExamCreation</a>
          </div>
  
          <div class="container1 content">
            <img class="icon" src="../assets/images/help.jpeg" />
            <p class="font">Help</p>
          </div>
  
          <div class="container1 content">
            <img class="icon" src="../assets/images/setting.jpeg" />
            <p class="font">Setting</p>
          </div>
  
          <div class="container1 content">
            <img class="icon" src="../assets/images/logout.jpeg" />
            <p class="font">Log out</p>
          </div>
        </div>
      </div>
  
      <div class="container2 col2 homebackground">
        <div class="container1">
          <div class="container2">
            <p class="dashboard h">Dashboard</p>
            <input class="form-control search" placeholder="Search" />
          </div>
          <div class="container">
              <img   src="../assets/images/cover.jpeg" alt="Profile image" class="profilepic"/>
              <a href="/profile" class="cardfont2 name">HabibaHesham</a>
              <p class="cardfont2 role">Student</p>
              <!-- <img class="cover" src="../assets/images/cover.jpeg"/>
              <a href="/profile" class="cardfont2 right">HabibaHesham</a> -->
          </div>
  
        </div>
  
        <div class="card announcementcard">
          <div class="card-body cardfont h">Announcement</div>
          <div class="card-body center">
            <div class="card announcementcardcontent cardfont2">
              <div class="card-body">Announcement</div>
            </div>
          </div>
        </div>
        <div class="container1">
          <div class="card card2">
              <div class="card-body centercard">
                  <div class="card contentcard cardfont2">
                    <div class="card-body">Announcement</div>
                  </div>
              </div>
              <div class="card-body centercard">
                  <div class="card contentcard cardfont2">
                    <div class="card-body">Announcement</div>
                  </div>
              </div>
              <div class="card-body centercard">
                  <div class="card contentcard cardfont2">
                    <div class="card-body">Announcement</div>
                  </div>
              </div>
  
          </div>
          <div class="card card2">
              <div class="card-body centercard">
                  <div class="card contentcard cardfont2">
                    <div class="card-body">Announcement</div>
                  </div>
              </div>
              <div class="card-body centercard">
                  <div class="card contentcard cardfont2">
                    <div class="card-body">Announcement</div>
                  </div>
              </div>
              <div class="card-body centercard">
                  <div class="card contentcard cardfont2">
                    <div class="card-body">Announcement</div>
                  </div>
              </div>
  
          </div>
          
          <!-- <div class="card card2">
            <div class="card-body center">
              <div class="container2 cardfont2">
                <div class="card contentcard">
                  <div class="card-body">Announcement</div>
                </div>
                <div class="card contentcard">
                  <div class="card-body">Announcement</div>
                </div>
                <div class="card contentcard">
                  <div class="card-body">Announcement</div>
                </div>
                <div class="card contentcard">
                  <div class="card-body">Announcement</div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
  
  
  
        <div class="card assignmentcard">
          <div class="card-body cardfont h">Assignments</div>
          <div class="card-body center">
              <div class="card assignmentcardcontent cardfont2">
                <div class="card-body">Announcement</div>
              </div>
          </div>
          <div class="card-body center">
              <div class="card assignmentcardcontent cardfont2">
                <div class="card-body">Announcement</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  