<div>
  <div class="row d-flex flex-row gap-2 ">
  
  
    <div class="flex flex-column col-lg-2 col-sm-4">
      <div class="cardbackground bg-color py-5">
          <div class="cardd">
              <div class="w-30">
                  <img class="img-fuild w-100" src="../assets/images/1.png" />
              </div>

              <div class="ms-2">
                  <p class="efontStyle">E<span class="fontStyle">du</span></p>
                  <p class="fontStyle h">Learn</p>
              </div>
          </div>

          <div class="parent mt-5 flex-column d-flex g-5 ms-4">
              <div class="d-flex flex-row gap-4 mb-4 align-items-center">
                  <i class="fa-solid fa-gauge fa-xl" style="color: #4979d1"></i>
                  <a href="/home" style="text-decoration: none" class="font">Dashboard</a>
              </div>

              <div class="d-flex flex-row gap-4 mb-4 align-items-center">
                  <i class="fa-solid fa-star fa-xl" style="color: #4979d1"></i>
                  <a href="/course" style="text-decoration: none" class="font">Courses</a>
              </div>

              <div class="d-flex flex-row gap-4 mb-4 align-items-center">
                  <i class="fa-solid fa-user-check fa-xl" style="color: #4979d1"></i>
                  <a href="/assignment" style="text-decoration: none" class="font">Assignments</a>
              </div>

              <div class="d-flex flex-row gap-4 mb-4 align-items-center">
                  <i class="fa-solid fa-pen-to-square fa-xl" style="color: #4979d1"></i>
                  <a href="/exam" style="text-decoration: none" class="font">Exam</a>
              </div>

              <div class="d-flex flex-row gap-4 mb-4 align-items-center">
                  <i class="fa-regular fa-calendar fa-xl" style="color: #4979d1"></i>
                  <a href="/calendar" style="text-decoration: none" class="font">Calender</a>
              </div>



              <div class="d-flex flex-row gap-4 mb-4 align-items-center">
                  <i class="fa-solid fa-square-pen fa-xl" style="color: #4979d1"></i>
                  <a href="/attendance" style="text-decoration: none" class="font">Attendance</a>
              </div>



              <div class="d-flex flex-row gap-4 mb-4 align-items-center">
                  <i class="fa-solid fa-bars fa-xl" style="color: #4979d1"></i>
                  <a href="/profile" style="text-decoration: none" class="font content">Profile</a>
              </div>



              <div class="d-flex flex-row gap-4 mb-4 align-items-center mt-5">
                  <i class="fa-solid fa-circle-question fa-xl" style="color: #999999"></i>
                  <a href="/help" style="text-decoration: none" class="font2">Help</a>
              </div>

              <div class="d-flex flex-row gap-4 mb-4 align-items-center">
                  <i class="fa-solid fa-gear fa-xl" style="color: #999999"></i>
                  <a href="/setting" style="text-decoration: none" class="font2">Setting</a>
              </div>

              <div class="d-flex flex-row gap-4 mb-5 align-items-center">
                  <i class="fa-solid fa-arrow-right-from-bracket fa-xl" style="color: #999999"></i>
                  <a href="/login" style="text-decoration: none" class="font2">Log out</a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-9 col-sm-7">
    <p class="fontStyle mt-3 mb-0 ">Dashboard</p>
    <div class="d-flex row justify-content-between align-items-center">
      <div class="col-md-4">
        <input class="form-control bg-color rounded mt-0" placeholder = "Search"/>
      </div>
      <div class="col-md-4 text-center ">
        <i class="fa-regular fa-bell fs-4  me-3"></i>
        <i class="fa-regular fa-envelope fs-4"></i>
  
      </div>
      <div class="col-md-4 d-flex flex-row">
        <div>
          <!-- <img class="rounded-circle img-fuild w-100" src="../assets/images/cover.jpeg"> -->
          <i class="fa-solid fa-circle-user"style="font-size: 3em;"></i>
        </div>
        <div class=" d-flex  ms-3 flex-column">
          <div class="d-flex justify-content-between align-items-center " >
            <p> <a class="text-decoration-none text-black fw-bold" href="/profile">Habiba Hesham</a> </p>
            <a href="/profile" class="fa-solid fa-chevron-down fs-6 mb-3 ms-2 text-black" style="text-decoration: none;"></a>
          </div>
          <p class="text-muted h">Student</p>
        </div>
      </div>
    </div>
  
    <div class="cardbackground py-5 p-4 bg-color mt-3">
      <p class="title1">Announcement</p>
      <input class="form-control rounded-pill py-3 label2" style="background-color: #D4DEFF;"  placeholder="Hello habiba, your live session is about to start!">
    </div>

    <!-- <div class="d-flex flex-row">
      <div class="cardbackground bg-color">
        <div class="card">
          <p>habiab</p>
        </div>
      </div>
    </div> -->

    <div class="cardbackground py-5 p-4 bg-color mt-3">
      
      <p class="title1">Assignments</p>
      <div class="d-flex flex-column gap-3">
        <div class="card col">
          <div class="d-flex flex-row justify-content-between m-3">
            <p class="title">Chemistry<br><span class="label">Chapter5</span></p>
            <p class="title">Daily task<br><span class="label">Page10</span></p>
            <p class="title">11.00AM</p>
            <p class="title">Pending</p>
          </div>
        </div>
        <div class="card col">
          <div class="d-flex flex-row justify-content-between m-3">
            <p class="title">Physics<br><span class="label">Chapter4</span></p>
            <p class="title">Daily task<br><span class="label">Page 18</span></p>
            <p class="title">11.00AM</p>
            <p class="title">Pending</p>
          </div>
        </div>
        <div class="card col">
          <div class="d-flex flex-row justify-content-between m-3">
            <p class="title">Biology<br><span class="label">Chapter2</span></p>
            <p class="title">Daily task<br><span class="label">Page 12</span></p>
            <p class="title">11.00AM</p>
            <p class="title">Completed</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>