<header class="header">
    <nav class="search-bar">
      <img  src="../assets/images/calendar.jpeg" alt="Search icon" class="icon-search" />
      <label for="searchInput" class="visually-hidden">Search</label>
      <input type="text" id="searchInput" class="input-search" placeholder="Search" />
    </nav>
  </header>
  <main class="content">
    <section class="icons-section">
      <img  src="../assets/images/calendar.jpeg" alt="Notifications" class="icon-notification" />
      <img  src="../assets/images/calendar.jpeg" alt="Settings" class="icon-settings" />
    </section>
    <section class="profile-section">
      <img  src="../assets/images/cover.jpeg" alt="Profile picture" class="profile-pic" />
      <div class="profile-info">
        <h1 class="name">Swetha Shankaresw</h1>
        <p class="role">Student</p>
      </div>
      <img src="../assets/images/calendar.jpeg" alt="More options" class="icon-more" />
    </section>
  </main>