<body class="homebackground">
    <div class="container1">
    <div class="container2">
        <div class="container1">
            <img class="img" src="../assets/images/bb.png">
            <p class="myprofile">My Profile</p>
        </div>
        
        <div class="cardbackground">
    
            <div class="container1">
                <img class="icon head" src="../assets/images/icon1.jpeg"/>
                <p class="font head">Dashboard</p>
            </div>
            
            <div class="container1 content">
                <img class="icon" src="../assets/images/calendar.jpeg"/>
                <p class="font">Calender</p>
            </div>
            
            <div class="container1 content">
                <img class="icon" src="../assets/images/course.jpeg"/>
                <p class="font">Courses</p>
            </div>
            
            <div class="container1">
                <img class="icon content" src="../assets/images/coursecreation.jpeg"/>
                <p class="font content">Course Creation</p>
            </div>
            
            <div class="container1 content">
                <img class="icon" src="../assets/images/attendance.jpeg"/>
                <p class="font">Attendance</p>
            </div>
            
            <div class="container1 content">
                <img class="icon" src="../assets/images/assignment.jpeg"/>
                <p class="font">Assignments</p>
            </div>
            
            <div class="container1 content">
                <img class="icon" src="../assets/images/exam.jpeg"/>
                <p class="font">Exam</p>
            </div>
            
            <div class="container1 content">
                <img class="icon" src="../assets/images/help.jpeg"/>
                <p class="font">Help</p>
            </div>
            
            <div class="container1 content">
                <img class="icon" src="../assets/images/setting.jpeg"/>
                <p class="font">Setting</p>
            </div>
            
            <div class="container1 content">
                <img class="icon" src="../assets/images/logout.jpeg"/>
                <p class="font">Log out</p>
            </div>
        </div>
    </div>




<div class="c">
    <div class="container1">
    <div class="container2 m">
        <div class="container1">
            
                <p class="information">USER INFORMATION</p>
                <button class="btn btn-outline-dark btn-lg edit ">Edit</button>
            </div>
            <label class="label">Username</label>
            <input class="form-control info">
            <label class="label">Email</label>
            <input class="form-control info">
            <label class="label">First name</label>
            <input class="form-control info">
            <label class="label">Last name</label>
            <input class="form-control info">
           
            <div class="container1">
                <p class="information cont">CONTACT INFORMATION</p>
                <button class="btn btn-outline-dark btn-lg edit cont">Edit</button>
            </div>
            <div class="container1">
                <div class="container2">
                    <label class="label">Address</label>
                    <input class="form-control address">
                </div>
    
                <div class="container2">
                    <label class="label">City</label>
                    <input class="form-control city">
                </div>
            </div>
            <div class="container1">
                 <div class="container2">
                    <label class="label">Country</label>
                    <input class="form-control city">
                </div>
                <div class="container2">
                    <label class="label">Code</label>
                    <input class="form-control city">
                </div>
            </div>
        
    </div>
    <img src="../assets/images/cover.jpeg" class="changephoto"/>
    <button class="btn btn-outline-dark changebtn">change image</button>
</div>
</div>
<img src="../assets/images/cover.jpeg" alt="Profile image" class="profilepic"/>
<p class="name">Swetha Shankaresw</p>
<p class="role">Student</p>
</div>


</body>