
.cardbackground{
    
    border-radius: 20px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: #fffafa;
    min-height: 924px;
    max-width: 304px;
    width: 100%;
    margin: 0 auto;
  
}
.font{
color: #2b59ce;
max-width: 67px;
font: 700 16px Istok Web, sans-serif;
/* font-size: 16px;
font-family: 'Istok Web', sans-serif;
font-weight: bold;
color: #3762d0;*/
margin-left: 25px;
} 
.cardfont{
font-size: 20px;
font-family: 'Istok Web', sans-serif;
font-weight: bold;
color: black;
}
.cardfont2{
font-size: 14px;
font-family: 'Istok Web', sans-serif;
font-weight: bold;
color: black;
}
.dashboard{
color: #000;
max-width: 166px;
font: 700 34px Istok Web, sans-serif;
/* font-size: 34px;
font-weight: bold;
font-family: 'Istok Web', sans-serif; */
margin-top: 38px;
}
.icon{
/* aspect-ratio: 1.18; */
object-fit: auto;
object-position: center;
/* width: 100%; */
/* max-width: 53px; */
 width: 40px;
height: 32px;
margin-left: 54px; 
}
.head{
margin-top: 69px;
}
.content{
margin-top: 49px;
}

.img{
width: 222px;
height: 89px;
margin-top: 28px;
margin-left: 31px;
margin-bottom: 0px;
}
.title{
margin-top: 20px;
}

.col2{
margin-left: 50px;
}
.card2{
width: 350px;
height: 400px;
/* margin-right: 30px; */
margin-bottom: 23px;
margin-left: 82px;
border-radius: 20px;
}
.announcementcard{
border-radius: 10px;
background-color: #fffafa;
min-height: 157px;
max-width: 733px;
/* width: 1024px;
height: 157px;
margin-bottom: 23px;
border-radius: 10px; */
}
.announcementcardcontent{
border-radius: 20px;
background-color: #d4deff;
height: 74px;
width: 917px;
}
.contentcard{
width: 288px;
height: 62px;
border-radius: 10px;
margin-bottom: 18px;
}
.assignmentcard{
width: 1024px;
height: 281px;
border-radius: 10px;
}
.assignmentcardcontent{
width: 917px;
height: 61px;
border-radius: 10px;
margin-bottom: 18px;
}
.center{
display: flex;
justify-content: center;
align-items: center;
}
.search{
border-radius: 10px;
    background-color: #fffafa;
    min-height: 42px;
    max-width: 446px;
/* width: 446px;
height: 42px;
margin-bottom: 27px;
margin-top: 10px;
border-radius: 10px; */
}
.right{
margin-top: 52px;
margin-left: 18px;
/* float: right; */
}
.cover{
width: 64px;
height: 69px;
border-radius: 100px;
margin-left: 400px;
margin-top: 28px;
}






.c{
    border-radius: 20px;
    background-color: #fffafa;
    height: 850px;
    width: 1142px;
    border-radius: 20px;
    margin-top: 190px;
    margin-left: 42px;
  }

.m{
    margin-left: 32px;
    margin-top: 42px;
}

.info{
    width: 654px;
    height: 57px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.address{
    width: 443px;
    height: 57px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 32px;
}
.city{
    width: 231px;
    height: 57px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 32px;
}
.country{
    width: 654px;
    height: 57px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.label{
    font-size: 16px;
    font-family: 'Istok Web', sans-serif;
    /* font-weight: bold; */
    color:black;
    margin-bottom: 5px;
}
.information{
    font-size: 20px;
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    color:black;
    margin-bottom: 32px;
}
.cont{
    margin-top: 20px;
}
.edit{
    left: 700px;
    position: absolute;
}
.myprofile{
    font-size: 34px;
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    color:black;
    position: absolute;
    top: 112px;
    margin-left: 300px;
}
.changebtn{
    position: absolute;
    top: 438px;
    left: 1164px;
    border-radius: 10px;
    width: 171px;
    height: 51px;

}
.changephoto{
    position: absolute;
    top: 264px;
    left: 1164px;
    border-radius: 100px;
    width: 148px;
    height: 145px;

}
.profilepic{
    width: 72px;
    height: 69px;
    position: absolute;
    top: 83px;
    left: 1095px;
    border-radius: 100px;
}
.name{

    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    color:black;
    position: absolute;
    top: 95px;
    left: 1175px;

}

.role{
    font-size: 12px;
    font-family: 'Istok Web', sans-serif;
    /* font-weight: bold; */
    color:black;
    position: absolute;
    top: 118px;
    left: 1175px;

}