<body class="background">
   <div class="container1">
    <div class="container2">
        <div class="container1 com">
            <img class="img1" src="../assets/images/1.png">
            <div class="container2">
                <div class="container1">
                    <p class="efontStyle edu h">E</p>
                    <p class="fontStyle edu h">du</p>
                </div>
                <p class="fontStyle">Learn</p>
            </div>
          
        </div>

        <div class="container1">
        <a routerLink="/login" class="btn btn-primary btn-lg studentbtn">Login as a Student</a>
        <a routerLink="/login" class="btn btn-outline-dark btn-lg teacherbtn">Login as a Teacher</a>
        </div>

    </div>
    <img class="img2" src="../assets/images/2.png">
</div>
</body>