<!--ADMIN-->

<div class="cardbackground bg-color py-5">
  <div class="cardd">
    <div class="w-30">
      <img class="img-fuild w-100" src="../assets/images/1.png" />
    </div>

    <div class="ms-2">
      <p class="efontStyle">E<span class="fontStyle">du</span></p>
      <p class="fontStyle h">Learn</p>
    </div>
  </div>

  <div class="parent mt-5 flex-column d-flex g-5 ms-4">
    <div class="d-flex flex-row gap-4 mb-4 align-items-center">
      <i class="fa-solid fa-gauge fa-xl" style="color: #4979d1"></i>
      <a href="/approvals" style="text-decoration: none" class="font">Approvals</a>
    </div>


    <div class="d-flex flex-row gap-4 mb-4 align-items-center">
      <i class="fa-solid fa-bars fa-xl" style="color: #4979d1"></i>
      <a href="/course-creation" style="text-decoration: none" class="font content">Course Creation</a>
    </div>

    <div class="d-flex flex-row gap-4 mb-4 align-items-center">
      <i class="fa-solid fa-star fa-xl" style="color: #4979d1"></i>
      <a href="/admin-courses" style="text-decoration: none" class="font">Courses</a>
    </div>




    <div class="d-flex flex-row gap-4 mb-4 align-items-center">
      <i class="fa-solid fa-pen-to-square fa-xl" style="color: #4979d1"></i>
      <a href="/exam creation" style="text-decoration: none" class="font"> Create Assignment</a>
    </div>
    <div class="d-flex flex-row gap-4 mb-4 align-items-center">
      <i class="fa-solid fa-user-check fa-xl" style="color: #4979d1"></i>
      <a href="/submitted-assignments" style="text-decoration: none" class="font">Assignments</a>
    </div>
    
    <div class="d-flex flex-row gap-4 mb-4 align-items-center">
      <i class="fa-solid fa-square-pen fa-xl" style="color: #4979d1"></i>
      <a href="/attendance" style="text-decoration: none" class="font">Attendance</a>
    </div>
    
    <div class="d-flex flex-row gap-4 mb-4 align-items-center">
      <i class="fa-regular fa-calendar fa-xl" style="color: #4979d1"></i>
      <a href="/calendar" style="text-decoration: none" class="font">Calender</a>
    </div>



    <div class="d-flex flex-row gap-4 mb-4 align-items-center mt-5">
      <i class="fa-solid fa-circle-question fa-xl" style="color: #999999"></i>
      <a href="/help" style="text-decoration: none" class="font2">Help</a>
    </div>

    <div class="d-flex flex-row gap-4 mb-4 align-items-center">
      <i class="fa-solid fa-gear fa-xl" style="color: #999999"></i>
      <a href="/setting" style="text-decoration: none" class="font2">Setting</a>
    </div>

    <div class="d-flex flex-row gap-4 mb-5 align-items-center">
      <i class="fa-solid fa-arrow-right-from-bracket fa-xl" style="color: #999999"></i>
      <a href="/login" style="text-decoration: none" class="font2">Log out</a>
    </div>
  </div>
</div>