<div>
    <div class="row d-flex flex-row gap-2">
        <div class="flex flex-column col-lg-2 col-sm-4">
            <div>
                <app-menu></app-menu>
            </div>
        </div>

        <div class="col-lg-9 col-sm-7">

            <div>
                <app-app-bar></app-app-bar>
            </div>

            <div class="card bg-white mt-2">
                <div class="p-4">
                    <p class="title1">{{course.title}}</p>
                    <div class="d-flex flex-row flex-wrap align-items-start gap-3">
                        <div class="card flex-grow-1 mb-3">
                          <div class="card-body">
                            <div class="mb-3">
                              <label class="title2">Title</label>
                              <input [(ngModel)]="course.title" class="form-control bg-color mb-2 label" placeholder="Type here" />
                      
                              <label class="title2">Description</label>
                              <textarea [(ngModel)]="course.description" class="form-control bg-color label" style="height: 145px"
                                        placeholder="Type here"></textarea>
                            </div>
                          </div>
                        </div>
                      
                        <div class="card flex-grow-1 mb-3">
                          <div class="card-body">
                            <label class="title2">Course Content</label>
                            <div *ngFor="let lec of course.lectures; let i = index">
                              <div class="d-flex flex-row align-items-center justify-content-between card bg-color gap-3 p-2 mb-3">
                                <a class="title d-flex justify-content-center align-items-center" href="{{ course.lectures[i] }}" target="_blank"
                                   style="text-decoration: none; color: black;">Lecture {{ i + 1 }}</a>
                                <button class="btn btn-outline-danger bg-color title text-danger" (click)="deleteCard(i)">
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      

                    <div class="col-lg-8">

                        <div *ngFor="let control of cardControls; let i = index"
                            class="d-flex flex-row align-items-center justify-content-between card bg-color gap-3 p-2 mb-3">
                            <p class="title d-flex justify-content-center align-items-center">
                                Lecture {{ numberOfLectures + i + 1}}
                            </p>
                            <input #newlec class="form-control bg-color w-50 label" formControlName="title"
                                placeholder="Title" />
                            <button class="btn btn-outline-danger bg-color title text-danger"
                                (click)="addLecture(newlec)">
                                Upload
                            </button>
                            <button class="btn btn-outline-danger bg-color title text-danger" (click)="deleteCard(i)">
                                Delete
                            </button>
                        </div>

                    </div>
                    <button class="btn btn-outline-danger bg-color title text-danger" (click)="addCard()">
                        <i class="fa-solid fa-plus"></i>
                        Add Chapter
                    </button>

                    <div class="text-center">
                        <button class="btn btn-primary" style="background-color: #4979d1" (click)="updateCource()">
                            Edit Course
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>